@import "./foundation/vars";

// --------------------------------
// # Content
// メインコンテンツエリア
// --------------------------------

.p-content {
  padding-top: $height-header;
  margin-bottom: $spacing4x;
  position: relative;
  @media (min-width: $breakpoint-md) {
    padding-top: $height-header;
  }
  @media (min-width: $breakpoint-lg) {
    padding-top: $height-header-lg;
  }
}
.p-content__header {
  width: 100%;
  min-height: 300px;
  margin-bottom: 1em;
  box-sizing: border-box;
  background-image: url('hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.p-content__title {
  margin-bottom: 16px;
  border-bottom: solid 1px #e2e5e8;
  span {
    display: inline-block;
    padding: 0 8px 8px 0;
    font-weight: bold;
  }
}
.p-content__body {
  @media (min-width: $breakpoint-lg) {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: $spacing2x $spacing4x;
    max-width: 1200px;
    &.-column1 {
      justify-content: center;
    }
  }
}
.p-content__main {
  @media (min-width: $breakpoint-lg) {
    margin-right: $spacing4x;
    flex: 1 1 auto;
    max-width: 804px;
  }
}
.p-content__sub {
  @media (min-width: $breakpoint-lg) {
    flex: 0 0 300px;
    max-width: 300px;
  }
}
