@import "./foundation/vars";

// --------------------------------
// # Content
// メインコンテンツエリア
// --------------------------------

.p-content {
  padding-top: $height-header;
  margin-bottom: $spacing4x;
  @media (min-width: $breakpoint-md) {
    //padding-top: 0;
    &.has-hero {
      padding-top: $height-header;
    }
  }
  @media (min-width: $breakpoint-lg) {
    //padding-top: $height-header-lg;
    padding-top: 0;
    &.has-hero {
      padding-top: 0;
    }
  }
}
.p-content__header {
  width: 100%;
  min-height: 300px;
  margin-bottom: 1em;
  box-sizing: border-box;
  background-image: url('hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.p-content__body {
  @media (min-width: $breakpoint-lg) {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: $spacing2x $spacing4x;
    max-width: 1200px;
    &.-column1 {
      justify-content: center;
    }
  }
}
.p-content__main {
  @media (min-width: $breakpoint-lg) {
    margin-right: $spacing4x;
    flex: 1 1 auto;
    max-width: 804px;
  }
}
.p-content__sub {
  @media (min-width: $breakpoint-lg) {
    flex: 0 0 300px;
    max-width: 300px;
  }
}
