@import "./foundation/vars";
// --------------------------------
// # Entry
// --------------------------------

.p-entry {
  background: #fff;
}
.p-entry__title {
  margin-bottom: 16px;
  padding: 16px 24px;
  font-size: 36px;
  font-weight: bold;
}
.p-entry__contents {
  padding: 0 32px 32px 32px;
}

.p-entry__description {
  margin-bottom: 16px;
  padding-bottom: 16px;
  line-height: 2.0;
}
