@import "./foundation/vars";
// --------------------------------
// # Footer
// --------------------------------

.p-footer {
  color: #ffffff;
  padding: $spacing3x $spacing2x;
  background-color: $color-main;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  @media (min-width: $breakpoint-lg) {
    padding: $spacing4x 0;
  }
}

.p-footer__group {
}

.p-footer__contents {
  text-align: center;
  li {
    display: inline;
  }
}
