<%= render partial: 'application/header' %>

<main class="p-content">
  
  <div class="p-content__body">
    <div class="p-content__main">
      <h2>記事一覧</h2>
        <%- if @articles.present? -%>
          <%- @articles.each do |article| -%>
            <div class="p-article__body">
              <h4 class="p-article__title">
                <%= link_to(article.title, admin_article_path(article)) %>
              </h4>
              <div class="p-article__description">
                <p><%= article.content.truncate(80) %></p>
              </div>
            </div>
          <%- end -%>
        <%- else -%>
          <h1>記事はありません</h1>
        <%- end -%>
    </div>
    <div class="p-content__sub">
      <%= render partial: 'shared/admin_sidebar' %>
    </div>
  </div>
</main>
