<section class="c-subSection">
  <h3 class="c-subSection__title">プロフィール</h3>  
  <div class="c-subSection__body">
    <p >
      <img src="<%= image_path('profile.jpeg') %>" alt="yuklogのprofile" class="c-profile_image">
    </p>
    <p style="text-align: center;">
      <strong>yukimura</strong>
    </p>
    <p>
      国立文系大学卒業後、エンジニアとしてのキャリアを選択。
      <br>
      Ruby on Rails、React、Dockerなどインフラ周りも好きです。
      <br>
      プログラミングのアウトプットメインでたまに日記も書きます。
    </p>
  </div>
</section>
