<header class="p-header">
  <div class="p-header__text">
    <p>エンジニアの雑記</p>
  </div>
  <div class="p-header__logo">
    <a href="/" class="p-logo__target">
      <img src="<%= image_path('logo.png') %>" alt="yuklogのロゴ" class="p-logo__image">
    </a>
  </div>
</header>
<main class="p-content">
</main>
<footer class="p-footer">
</footer>
