<footer class="p-footer">
  <div class="p-footer__group">
    <ul class="p-footer__contents">
      <li>
        <a href="https://overflow.co.jp" target="_blank">About |</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</footer>
